.btn{
    @include flex(center,space-between);

    padding: 10px 15px;
    border: 0;

    border-radius: 7px;

    font-size: 1rem;
    font-weight: bold;
    &:hover{
        cursor: pointer;
        transition: all 0.5s ease-in;
        .icon{
            transform: translateX(-5px);
            transition: all 0.5s ease-in;
        }
    }
    
}
