@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

html {
    font-size: 13px;
}

body{
    font-family:"Roboto",sans-serif;
}

a{
    text-decoration: none;
}


.main{
    background-color:$yellow;
    height: 100vh;
    position:relative;
    border-top: 0.1px solid transparent;
}
